/* line 1, ../sass/_core.sass */
body {
  background-color: #bca58a;
  color: #44382a;
}
/* line 5, ../sass/_core.sass */
body header {
  background-color: #44382a;
}

/* line 8, ../sass/_core.sass */
.tab {
  margin-top: 3rem;
}
/* line 12, ../sass/_core.sass */
.tab .action .btn {
  margin-bottom: 1.6rem;
  width: 100%;
}

/* line 1, ../sass/_map.sass */
.tile {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 0 -5px 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
}
/* line 10, ../sass/_map.sass */
.tile.mezo {
  background-color: green;
}
/* line 13, ../sass/_map.sass */
.tile.sivatag {
  background-color: sandybrown;
}
/* line 16, ../sass/_map.sass */
.tile.folyo {
  background-color: blue;
}
